.accordion {
  &--open .accordion__element {
    display: block;
  }

  &--closed .accordion__element {
    display: none;
  }

  &--closed .accordion__element--footer {
    display: block;
  }

  &--open .description__text {
    max-height: none;
  }

  @include vp-767 {
    &--closed .accordion__element--footer {
      display: none;
    }

    &--open .description__text {
      max-height: none;
    }
  }
}

.accordion__button {
  &--footer {
    display: none;
  }

  @include vp-767 {
    &--footer {
      display: block;
      border: none;
      width: 15px;
      height: 15px;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      margin-right: 25px;
      margin-top: -3px;
    }

    &--closed {
      background-image: url("../img/svg/accordion-open.svg");
    }

    &--open {
      background-image: url("../img/svg/accordion-close.svg");
    }
  }
}


