
.accordion__element {
  &.is-active {
    display: block;
  }
}

.accordion__element--footer {
  &.is-active .accordion__button--footer {
    background-image: url("../img/svg/accordion-close.svg");
  }
}

.accordion__button {
  &--footer {
    display: none;
  }

  @include vp-767 {
    &--footer {
      display: block;
      border: none;
      width: 15px;
      height: 15px;
      padding: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      background-image: url("../img/svg/accordion-open.svg");
      margin-right: 25px;
      margin-top: -3px;
    }
  }
}
