.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 20px;

  font-family: $extended-ff-placeholder;
  color: $color-alice-blue;

  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &--header {
    padding: 11px 16px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--deep-sky-blue {
    border: none;
    background-color: $color-deep-sky-blue;
  }

  &--intro {
    max-width: 410px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 17px 20px;

    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
      padding: 12px 20px;
    }
  }
}
