.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 20px;

  font-family: $extended-ff-placeholder;
  color: $color-alice-blue;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  background-color: transparent;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &--border-none {
    border: none;
  }

  &--fs14 {
    font-size: 14px;
    line-height: 16px;
  }

  &--header {
    padding: 11px 16px;
  }

  &--deep-sky-blue {
    background-color: $color-deep-sky-blue;
  }

  &--intro {
    max-width: 410px;
    padding: 17px 20px;

    @include vp-767 {
      padding: 12px 20px;
    }
  }

  &--description {
    color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;
    min-height: 45px;
    min-width: 180px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.7;
        background-color: $color-deep-sky-blue;
        color: $color-default-white;
      }
    }


    @include vp-767 {
      min-height: 35px;
      min-width: 160px;
    }
  }
  &--medium-width {
    max-width: 265px;

    @include vp-767 {
      max-width: unset;
    }
  }

  &--full-width {
    width: 100%;
  }


  &--submit {
    background-color: $color-black-pearl;
    font-size: 16px;
    line-height: 19px;
    min-height: 45px;

    @include vp-767 {
      font-size: 16px;
    }
  }

}
