.contacts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &--footer {
    flex-direction: column;
    margin: 0;
    padding: 0;

    @include vp-767 {
      padding-bottom: 14px;
    }
  }
}

.contacts a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 30px;
  color: $color-alice-blue;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &:active {
    text-decoration: underline;
  }
}

.contacts--footer a {
  line-height: 23px;
  color: rgba($color-default-white, 0.7);

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: rgba($color-default-white, 1);
    }
  }

  &:active {
    text-decoration: underline;
  }
}

.contacts__list-item {

  &:not(:last-child) {
    margin-right: 122px;
  }

  @include vp-1023 {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &--footer {
    max-width: 345px;

    &:not(:last-child) {
      margin-bottom: 7px;
      margin-right: 0;
    }

    @include vp-1023 {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    @include vp-767 {
      margin-left: 25px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

.contacts span {
  @include vp-1023 {
    display: none;
  }
}
