.contacts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &--footer {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.contacts__list-item {

  &:not(:last-child) {
    margin-right: 122px;
  }

  @include vp-1023 {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &--footer {
    &:not(:last-child) {
      margin-bottom: 7px;
      margin-right: 0;
    }

    @include vp-1023 {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.contacts span {
  @include vp-1023 {
    display: none;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 30px;
  color: $color-alice-blue;

  &--footer {
    line-height: 23px;
  }
}
