.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    column-gap: 27px;
  }

  @include vp-767 {
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.features-list__item {
  max-width: 595px;
  min-height: 300px;
  padding: 39px 45px 35px 41px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  margin-bottom: 30px;

  &:hover,
  &:focus {
    background-color: $color-deep-sky-blue;
  }

  &:hover h3,
  &:focus h3,
  &:hover p,
  &:focus p {
    color: $color-alice-blue;
  }

  @include vp-1023 {
    max-width: 320px;
    min-height: 360px;
    padding: 40px 42px 30px 40px;
  }

  @include vp-767 {
    max-width: 270px;
    min-height: 340px;
    padding: 30px 37px 35px 24px;
    overflow: auto;

    &--short {
      min-height: 325px;
    }

    &--short h3 {
      margin-bottom: 17px;
    }
  }
}

.features-list__item h3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  font-family: $extended-ff-placeholder;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: $color-deep-sky-blue;
  margin: 0 0 15px 0;

  @include vp-1023 {
    gap: 15px;
    margin: 0 0 9px 0;
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.features-list__item svg {
  width: 35px;
  height: 35px;

  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}

.features-list__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @include vp-1023 {
    max-width: 239px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
