.form h2 {
  font-family: $extended-ff-placeholder;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0 0 13px 0;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 8px;
  }
}

.form p {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0 0 35px 5px;

  @include vp-1023 {
    margin: 0 0 24px 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 32px;
  }
}

.form--modal h2 {
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 4px;
}

.form--modal p {
  margin: 0 0 39px 0;
}

.form__input input,
.form__textarea textarea {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background-color: $color-black-pearl-transparent15;
  width: 100%;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  color: $color-default-white;

  &::placeholder {
    color: $color-default-white;
  }

  &:focus,
  &:hover {
    outline: 1px solid $color-black-pearl;
  }
}

.form__input input {
  min-height: 50px;
  max-width: 275px;
  overflow: auto;

  @include vp-1023 {
    max-width: unset;
  }
}

.form__input--modal input {
  max-width: unset;
}

.form__textarea textarea {
  max-height: 155px;
  max-width: 580px;
  overflow: auto;
  padding-top: 23px;
  padding-bottom: 23px;

  @include vp-1023 {
    max-width: unset;
    padding-top: 29px;
  }

  @include vp-767 {
    padding-top: 24px;
    min-height: 180px;
  }
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 19px;
  row-gap: 20px;
  margin-left: 5px;

  &--modal {
    margin-left: 0;
    grid-template-columns: 1fr;
  }

  @include vp-1023 {
    column-gap: 28px;
    margin-left: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.form__textarea--full-columns {
  grid-column: 1 / -1;
}

.form__submit {
  margin-top: 8px;

  &--modal {
    margin-top: -4px;
  }

  @include vp-767 {
    margin-top: 4px;
  }
}

.form__checkbox {
  margin-top: 20px;
  margin-left: 10px;

  &--modal {
    margin-top: 0;
    margin-left: 8px;
  }

  @include vp-1023 {
    margin-top: 16px;
    margin-left: 1px;
  }

  @include vp-767 {
    margin-top: 2px;
    margin-left: 5px;
  }
}

.form__checkbox label {
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
}

.form__checkbox input + label {
  display: flex;
  align-items: center;
  gap: 11px;
}

.form__checkbox input + label::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid $color-default-white;
  flex-shrink: 0;
}

.form__checkbox input:checked + label::before {
  background-image: url("../img/svg/check-box.svg");
  background-size: 12px 6px;
  background-repeat: no-repeat;
  background-position: center;
}
