.form-section {
  background-color: $color-deep-sky-blue;
  position: relative;
  padding-top: 166px;
  padding-bottom: 249px;

  &::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 840px 975px 0 0;
    border-color: $color-black-pearl-transparent transparent transparent transparent;
    top: 0;
  }

  @include vp-1023 {
    padding-top: 42px;
    padding-bottom: 124px;

    &::before,
    &::after {
      display: none;
    }
  }

  @include vp-767 {
    padding-top: 49px;
    padding-bottom: 91px;
  }
}

.form-section__container {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &::before {
    content: "";
    position: absolute;
    bottom: 14%;
    left: 1%;
    width: 518px;
    height: 285px;
    background-image: url("../img/paper_airplane.png");
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("../img/paper_airplane@2x.png");
    }
  }

  @include vp-1023 {
    display: block;

    &::before {
      display: none;
    }
  }
}

.form-section__wrapper {
  position: relative;
  z-index: 1;
  max-width: 596px;

  @include vp-1023 {
    margin-left: 0;
    max-width: unset;
  }
}
