.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 40px;

  @media (max-width: 1070px) {
    justify-content: center;
    gap: 40px;
  }

  @include vp-1023 {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
}

.goods-list__item {
  position: relative;
  overflow: hidden;
  max-width: 350px;
  max-height: 650px;

  &--first-card img {
    width: 434%;
    top: -33%;
    left: -55%;
  }

  &--second-card img {
    width: 450%;
    left: -163%;
    top: -37%;
  }

  &--third-card img {
    width: 446%;
    left: -269%;
    top: -34%;
  }


  @include vp-1023 {
    max-width: 670px;
    max-height: 250px;
    margin-bottom: 30px;

    &--first-card img {
      width: 216%;
      bottom: 611px;
      left: -34%;
    }

    &--second-card img {
      width: 229%;
      left: -97%;
      bottom: 417px;
    }

    &--third-card img {
      width: 227%;
      left: -23%;
      bottom: 456px;
    }
  }

  @include vp-767 {
    max-width: 270px;
    max-height: 250px;

    &--first-card img {
      width: 553%;
      left: -140%;
      bottom: 386px;
    }

    &--second-card img {
      width: 535%;
      left: -129%;
      bottom: 605px;
    }

    &--third-card img {
      width: 550%;
      left: -325%;
      bottom: 481px;
    }
  }
}

.goods-list__item a {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 350px;
    height: 650px;
    background-color: rgba(4, 24, 39, 0.5);
    z-index: 1;
  }


  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover::before,
    &:focus::before {
      background-color: rgba(4, 24, 39, 0.2);
    }
  }

  @include vp-1023 {
    &::before {
      width: 670px;
      height: 250px;
    }
  }

  @include vp-767 {
    &::before {
      width: 270px;
      height: 250px;
    }
  }
}

.goods-list__item img {
  position: relative;
  width: 100%;
  max-width: unset;
  min-height: 650px;
  height: auto;

  @include vp-1023 {
    min-height: 250px;
  }
}

.goods-list__item span {
  max-width: 192px;
  position: absolute;
  top: 47px;
  left: 40px;
  z-index: 2;
  font-family: $extended-ff-placeholder;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @include vp-1023 {
    max-width: 139px;
    top: 38px;
    left: 45px;
  }

  @include vp-767 {
    font-size: 18px;
    max-width: 127px;
    top: 27px;
    left: 30px;
  }
}

.goods__button {
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/svg/arrow.svg");
  background-size: 9px 10px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;

  @include vp-1023 {
    top: 190px;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
    top: 210px;
  }
}
