.goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 84px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 1098px) {
    gap: 40px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 0;
  }
}

.goods-list__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: cover;

  &--first-card {
    background-image: url("../img/card-1.jpg");
  }

  &--second-card {
    background-image: url("../img/card-2.jpg");
  }

  &--third-card {
    background-image: url("../img/card-3.jpg");
  }

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    &--first-card {
      background-image: url("../img/card-1@2x.jpg");
    }

    &--second-card {
      background-image: url("../img/card-2@2x.jpg");
    }

    &--third-card {
      background-image: url("../img/card-3@2x.jpg");
    }
  }

  @include vp-1023 {
    max-width: unset;
    min-width: 670px;
    min-height: 250px;
    margin-bottom: 30px;

    &--first-card {
      background-image: url("../img/card-1-tablet.jpg");
    }

    &--second-card {
      background-image: url("../img/card-2-tablet.jpg");
    }

    &--third-card {
      background-image: url("../img/card-3-tablet.jpg");
    }
  }

  @include vp-767 {
    min-width: 270px;
    min-height: 250px;

    &--first-card {
      background-image: url("../img/card-1-mobile.jpg");
    }

    &--second-card {
      background-image: url("../img/card-2-mobile.jpg");
    }

    &--third-card {
      background-image: url("../img/card-3-mobile.jpg");
    }
  }

  @media (min-resolution: 2dppx) and (max-width: 1023px) {
    &--first-card {
      background-image: url("../img/card-1-tablet@2x.jpg");
    }

    &--second-card {
      background-image: url("../img/card-2-tablet@2x.jpg");
    }

    &--third-card {
      background-image: url("../img/card-3-tablet@2x.jpg");
    }
  }

  @media (min-resolution: 2dppx) and (max-width: 767px) {
    &--first-card {
      background-image: url("../img/card-1-mobile@2x.jpg");
    }

    &--second-card {
      background-image: url("../img/card-2-mobile@2x.jpg");
    }

    &--third-card {
      background-image: url("../img/card-3-mobile@2x.jpg");
    }
  }
}

.goods-list__item a {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 24, 39, 0.5);
    z-index: 1;
  }


  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover::before,
    &:focus::before {
      background-color: rgba(4, 24, 39, 0.2);
    }
  }
}

.goods-list__item span {
  max-width: 192px;
  position: absolute;
  top: 47px;
  left: 40px;
  z-index: 2;
  font-family: $extended-ff-placeholder;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @include vp-1023 {
    max-width: 139px;
    top: 38px;
    left: 45px;
  }

  @include vp-767 {
    font-size: 18px;
    max-width: 127px;
    top: 27px;
    left: 30px;
  }
}

.goods__button {
  width: 60px;
  height: 60px;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/svg/arrow.svg");
  background-size: 9px 10px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;

  @include vp-1023 {
    top: 190px;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
    top: 210px;
  }
}
