.goods {
  background-color: $color-black-pearl;
  padding-top: 65px;
  padding-bottom: 138px;

  @include vp-1023 {
    padding-top: 54px;
    padding-bottom: 47px;
  }

  @include vp-767 {
    padding-top: 49px;
    padding-bottom: 54px;
  }
}

.goods h2 {
  font-family: $extended-ff-placeholder;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0 0 54px 0;


  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 28px;
  }
}

.goods__full-header h2 {
  @include vp-767 {
    display: none;
  }
}

.goods__mobile-header h2 {
  display: none;

  @include vp-767 {
    display: block;
  }
}
