.intro {
  background-image: $intro-gradient, url("../img/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-black-pearl;
  padding-top: 304px;
  padding-bottom: 280px;

  @include retina {
    background-image: url("../img/top-bg@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 179px;
    padding-bottom: 205px;
    background-position: center, -122px;
  }

  @include vp-767 {
    padding-top: 150px;
    padding-bottom: 190px;
    background-position: center, -232px;
  }
}

.intro__wrapper {
  padding-left: 124px;

  @include vp-1023 {
    padding-left: 0;
  }
}

.intro h2 {
  font-family: $extended-ff-placeholder;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-alice-blue;
  margin: 0 0 32px 0;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin: 0 0 2px 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 8px 0;
  }
}

.intro p {
  max-width: 625px;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  color: $color-alice-blue;
  margin: 0 0 15px 0;

  &:last-of-type {
    margin: 0 0 47px 0;
  }

  @include vp-1023 {
    &:last-of-type {
      margin: 0 0 56px 0;
    }
  }

  @include vp-767 {
    font-size: 14px;

    &:last-of-type {
      margin: 0 0 45px 0;
    }
  }
}

.intro__btn {
  &--mobile {
    display: none;
  }

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    margin-left: 0;
  }

  @include vp-767 {
    display: none;

    &--mobile {
      display: flex;
    }
  }
}
