.logo {
  display: flex;
  gap: 14px;
}

.logo__image {
  flex-shrink: 0;
  width: 55px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;

    &--footer {
      width: 55px;
      height: 55px;
    }
  }
}

.logo__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  @include vp-767 {
    display: none;

    &--footer {
      display: flex;
    }
  }
}

.logo__title {
  font-family: $extended-ff-placeholder;
  font-weight: 700;
  font-size: 25px;
  color: $color-alice-blue;
  margin: 0 0 -1px 0;
}

.logo__subtitle {
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  color: $color-default-white-transparent;
  margin: 0;
}
