.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 29px;

  @include vp-1023 {
    column-count: 1;
  }
}

.nav__item {
  margin-bottom: 5px;
  max-width: 220px;

  @include vp-767 {
    margin-left: 25px;
  }
}

.nav__item a {
  font-size: 16px;
  line-height: 135%;
  color: $color-default-white-transparent;

  @include vp-767 {
    font-size: 14px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: rgba($color-default-white, 1);
    }
  }

  &:active {
    text-decoration: underline;
  }
}
